.location-events {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.location-events header {
    background-color: var(--main-color);
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
    align-items: center;
    padding: 20px;
}

.location-image img {
    width: 300px;
    height: auto;
    border: 1px solid white;
    margin-left: 20px;
    display: block;
}

.location-image-placeholder {
    width: 300px;
    min-height: 180px;
    margin-left: 20px;
    border: 1px solid white;
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
}

.location-image-placeholder span {
    color: white;
    font-weight: 800;
    text-transform: uppercase;
}

.location-info h2 {
    color: white;
}

.location-events header p {
    color: white;
    font-size: 0.9em;
    margin-bottom: 0px;
}

.location-events main {
    text-align: center;
    padding: 30px;
    margin: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.location-events main i {
    margin-right: 10px;
}